<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "sample app", root_path, id: "logo" %>
<<<<<<< HEAD
=======





    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="col-md-8">
      <%= form_tag search_path, method: :get,
        class: "navbar-form search-form", id: "livesearch_form" do %>
        <div class="form-group dropdown">
          <%= text_field_tag :search, params[:search],class: "form-control dropdown-toggle",placeholder: "Search...","data-toggle": "dropdown", "aria-hidden": :true,
            autocomplete: :off, required: true, id: "livesearch_input" %>
          <ul class="dropdown-menu">
            <div id="livesearch_dom"></div>
          </ul>
        </div>
        <%= button_tag type: :submit, class: "btn btn-default" do %>
          <i class="fa fa-search"></i>
        <% end %>
      <% end %>
    </div><!-- /.navbar-collapse -->





>>>>>>> 04333373e84046df3c81b8c0c6af9e7534cf292d
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Help", help_path %></li>
        <% if logged_in? %>
        <li><%= link_to "#{@current_user.name}", users_path %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Account <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "Profile", current_user %></li>
            <li><%= link_to "Settings", edit_user_path(current_user) %></li>
            <li class="divider"></li>
            <li>
              <%= link_to "Log out", logout_path, method: :delete %>
            </li>
          </ul>
        </li>
        <% else %>
        <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>